.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: #5a5a5a;
    font-variant: all-petite-caps;
    margin-top: 200px;
    padding: 20px 10px;
    border-radius: 10px;
}

.title-products {
    margin: 5px;
    color: #1b1b8d;
}

tr:hover {
    background-color: lightgrey;
}

.button-cart {
    padding: 10px 15px;
    margin: 5px auto;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(45, 104, 192);
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0 5px 10px hsl(206deg 81% 75%);
}

.button-cart a {
    text-decoration: none;
    color: #1b1b8d;
}

@media (max-width: 480px) {
    .cart {
        overflow-x: scroll;
    }
}

@media (min-width: 481px) {
    .cart {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
    }
}

@media (min-width: 768px) {
    .cart {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .cart {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        width: 50%;
    }
}