.movie-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #d72c99;
    text-align: center;
    padding: 20px 50px;
    margin: 50px auto;
    width: 54%;
    background-color: azure;
    border-radius: 10px;
}

.movie-detail h2 {
    margin: 5px;
}

p {
    padding: 10px;
    text-align: justify;
}

@media (max-width: 560px) {
    .movie-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }
  }

@media (min-width: 560px) {
    .movie-detail {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
} 