.movie-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #d72c99;
    text-align: center;
    padding: 20px 50px;
    margin: 50px auto;
    width: 54%;
    background-color: azure;
    border-radius: 10px;
}

.movie-detail h2 {
    margin: 5px;
}

p {
    padding: 10px;
    text-align: justify;
}

h4 {
    margin: 10px;
}

.buttons-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-finish {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 0 5px 10px hsl(206, 81%, 75%);
    background-color: rgb(72, 72, 245);
}

.button-finish:hover {
    background-color: #d72c99;
}

@media (max-width: 560px) {
    .movie-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0px;
    }
  }

@media (min-width: 560px) {
    .movie-detail {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
} 