.movie-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #d72c99;
    text-align: center;
    padding: 20px 50px;
    margin: 50px auto;
    width: 54%;
    background-color: azure;
    border-radius: 10px;
}

.movie-detail h2 {
    margin: 5px;
}

p {
    padding: 10px;
}

@media (max-width: 768px) {
    .movie-detail {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        width: 100%;
        height: 90%;
    }
} 