.contenedorContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.contenedorContacto form {
    background-color: beige;
    border-radius: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    color: darkslategrey;
    padding: 15px;
    margin: 10px;
    width: 70%;
}

.contenedorContacto input {
    display: block;
    width: -webkit-fill-available;
    border-style: none;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

.successfully {
    margin-top: 300px;
    color: greenyellow;
}

@media (max-width: 480px) {
    .contenedorContacto form {
        width: 100%;
    }
} 

@media (min-width: 769px) {
    .contenedorContacto form {
        width: 40%;
    }
} 