.img-logo img {
    width: 200px;
}

.buttons-cart {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.button-nav {
    padding: 5px 15px;
    margin: 5px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    opacity: 0.7;
}

.button-nav:hover {
    color: #d72c99;
}

.buttons-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.menu-toggle {
    display: none;
}

@media (max-width: 560px) {

    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px;
        top: 15px;
        width: 60px;
        padding: 10px;
    }

    .buttons-cart {
        display: none;
    }

    .buttons-cart.isActive {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .buttons-items {
        flex-direction: column;
        width: 100%;
    }

    .nav-items {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: fit-content;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .button-nav {
        width: 100%;
        padding: 10px 100px;
        margin: 3px;
        display: flex;
        justify-content: center;
    }

    .burger-svg {
        color: black;
        width: 40px;
        height: 40px;
    }
}