/* header {
    background-color: azure;
    box-shadow: 0 5px 10px #3396e2;
} */

.img-logo img {
    width: 200px;
    height: 100px;
    filter: drop-shadow(2px 4px 8px #585858);
}

.titulo {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    filter: drop-shadow(2px 4px 8px #585858);
    color: black;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}

.button-nav {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 5px 10px hsl(206, 81%, 75%);
    text-decoration: none;
    background-color: white;
}

/* button {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(45, 104, 192);
    cursor: pointer;
    box-shadow: 0 5px 10px hsl(206, 81%, 75%);
} */

.button-nav:hover {
    color: #d72c99;
}

.buttons-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

@media (max-width: 560px) {
    .buttons-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .button-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}