.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  margin: 16px 0px;
  justify-content: center;
  align-items: baseline;
}

h2 {
  color: #e60073;
}

@media (max-width: 560px) {
  .moviesGrid {
    grid-template-columns: 100%;
    padding: 10px;
  }
}

.movieImage {
  border-radius: 10px;
  width: 100%;
  height: 80%;
}